# Ignore virtual environment
fastapi_taskmanager_july2025/

# Python cache files
__pycache__/
*.pyc

# IDE settings (optional)
.vscode/
.idea/

# Ignore my learning notes
learning_log.md

# macOS system files
.DS_Store